<li>
    Name: <%= user.name %>
    <span class="profile-link">
        <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    </span>
    <%= add_or_cancel_friend_request(user) %>
</li>